/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001f3f; /* Azul marino */
  padding: 10px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  color: #cc7722; /* Ocre */
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Estilos del aside */
aside {
  background-color: #f2f2f2; /* Gris claro */
  padding: 10px;
  float: left;
  width: 20%;
}

aside h2 {
  font-size: 1.5em;
  color: green;
  font-weight: bold;
}

aside ul {
  list-style-type: none;
  padding-left: 0;
}

aside ul li {
  margin: 10px 0;
}

aside ul li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  margin-left: 10px;
  font-size: 0.9em;
}

aside ul li a:hover {
  text-decoration: underline;
}

/* Estilos del main */
main {
  margin-left: 22%;
  padding: 20px;
}

/* Estilos de las tarjetas */
.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta {
  width: 30%;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
}

.tarjeta img {
  width: 100%;
  height: auto;
}

.tarjeta h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #001f3f; /* Azul marino */
}

.tarjeta p {
  font-size: 0.9em;
  color: #555;
}

/* Estilos del footer */
footer {
  background-color: #001f3f; /* Azul marino */
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Estilos para los íconos fijos */
.fixed-icons {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fixed-icons img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.fixed-icons img:hover {
  cursor: pointer;
}
